@model Restaurant.ViewModels.HomwModel
@{
    ViewData["Title"] = "productDetails";
    Layout = "_Layoutsub";
}

 <<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>blog sidebar</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">blog details </li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-area pt-100">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.MasterItemMenu.OrderByDescending(x => x.MasterItemMenuId).Take(2))
            {
                <div class="col-lg-8 col-xl-9">
                    <div class="blog-details-wrapper">
                        <div class="single-blog-wrapper">
                            <div class="blog-img mb-30">
                                <a href="#">
                                    <img src="~/Images/@item.MasterItemMenuImageUrl" alt="">
                                </a>
                                <span class="blogpost-time-date">
                                    @item.MasterItemMenuDate
                                </span>
                            </div>
                            <h2>@Html.Raw(item.MasterItemMenuTitle)</h2>
                          
                            <blockquote class="importent-title">
                                <h4>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt labo dolor magna aliqua. Ut enim ad minim veniam quis nostrud.</h4>
                            </blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehendrit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

                   
                    <div class="col-lg-4 col-xl-3">
                        <div class="sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
                             
                            <div class="sidebar-widget">
                                <h4 class="sidebar-title">Recent Posts</h4>
                                <div class="recent-posts-wrap mt-30">
                                    @foreach (var item in Model.MasterItemMenu.OrderBy(x=>x.MasterItemMenuId).Take(4))
                                   {
                                        <div class="single-recent-posts mb-20">
                                        <div class="recent-posts-img">
                                            <img src="~/Images/@item.MasterItemMenuImageUrl" alt="">
                                        </div>
                                        <div class="recent-posts-content">
                                            <h4>
                                                <a href="#@item.MasterItemMenuTitle">@Html.Raw(@item.MasterItemMenuTitle)</a>
                                            </h4>
                                            <span> @item.MasterItemMenuDate</span>
                                        </div>
                                    </div>
                                   }
                                   
                                    
                                  
                                </div>
                            </div>
                             
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
         <div class="ptb-30"></div>

